[submodule "rde-client-proxyserver"]
	path = rde-client-proxyserver
	url = git@github.com:JobDoesburg/rde-client-proxyserver.git
[submodule "rde-keyserver"]
	path = rde-keyserver
	url = git@github.com:JobDoesburg/rde-keyserver.git
[submodule "rde-demo/rde-js-client"]
	path = rde-demo/rde-js-client
	url = git@github.com:JobDoesburg/rde-js-client.git
[submodule "rde-android-client-app"]
	path = rde-android-client-app
	url = git@github.com:JobDoesburg/rde-android-client-app.git
